@page "/"

<PageTitle>LightOps NeuralLens</PageTitle>

<h1>LightOps NeuralLens</h1>

<blockquote>See Beyond the Prompt - Clarity in Artificial Intelligence</blockquote>

<p>Welcome to the management interface of this LightOps NeuralLens instance.</p>
